<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
	
<hibernate-configuration>

	<session-factory>
	
		<property name="hibernate.connection.driver_class">
			com.mysql.cj.jdbc.Driver
		</property>
		
		<property name="hibernate.connection.url">
			jdbc:mysql://localhost:3306/ecommerce_db
		</property>
		
		<property name="hibernate.connection.username">
			root
		</property>
		
		<property name="hibernate.connection.password">
			root123
		</property>
		
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		
		<property name="hibernate.show_sql">true</property>
		
		<property name="hibernate.format_sql">true</property>
		
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<mapping class="entity.User" />
		<mapping class="entity.Category" />
		<mapping class="entity.Brand" />
		<mapping class="entity.Product" />
		<mapping class="entity.ProductVariant" />
		<mapping class="entity.Attribute" />
		<mapping class="entity.AttributeValue" />
		<mapping class="entity.VariantAttribute" />
		<mapping class="entity.ProductImage" />
		<mapping class="entity.ProductCategory" />
		<mapping class="entity.Cart" />
		<mapping class="entity.CartItem" />
		<mapping class="entity.Address"/>
		<mapping class="entity.Order"/>
		<mapping class="entity.OrderItem"/>
		<mapping class="entity.Payment"/>
		<mapping class="entity.Review"/>
		<mapping class="entity.Wishlist"/>
		<mapping class="auth.VerificationToken"/>
		<mapping class="entity.Coupon"/>
		<mapping class="entity.Tags"/>
		
	</session-factory>
	
</hibernate-configuration>